

.logoFont
{
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
}

.navColor
{
    color: #F8091C !important;
}

.myNavFont
{
    font-family: 'Oswald', sans-serif;
    font-size: 150%;
    text-shadow: 1px 1px #000000cb;
    margin: 10px 10px;
}

.myFont
{
    font-family: 'Oswald', sans-serif;
    color: #ffffff !important;
    text-align: center;
}

#icoMom
{
    float: right;
}


/* parallax effect*/

body, html {
    height: 100%;
  }
  
  .parallax-1 {
    /* The image used */
    background-image: url("../img/1536x1024/boycrossfit_1536x1024.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-2 {
    /* The image used */
    background-image: url("../img/1536x1024/girlCrossfit_1536x1024.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
